<div class="m-2">
  <h1>1. Personal information</h1>
</div>
<div class="card">
<div class="card-body">
    <form (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="first-name">First name</label>
              <input type="text" class="form-control" id="first-name"
              [(ngModel)]="personal.firstName" name="firstName" placeholder="First name" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="last-name">Last name</label>
              <input type="text" class="form-control" id="last-name" 
              [(ngModel)]="personal.lastName" name="lastName" placeholder="Last name" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="username">Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                </div>
                <input [(ngModel)]="user.username"  type="text" name="username"
                class="form-control" id="username" placeholder="Username" 
                aria-describedby="inputGroupPrepend" required>
              </div>
            </div>
          </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input [(ngModel)]="user.email"  type="email" name="email"
                class="form-control" id="inputEmail" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword">Password</label>
                <input [(ngModel)]="user.password"  type="password" name="password"
                 class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control"  [(ngModel)]="personal.address1" name="address1"
              id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Address 2</label>
              <input type="text" class="form-control" id="inputAddress2"
              [(ngModel)]="personal.address2" name="address2"
               placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control"
                [(ngModel)]="personal.city" name="city" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputCountry">Country</label>
                <select [(ngModel)]="personal.country" name="country" id="inputCountry" class="form-control">
                  <option *ngFor="let country of countryList" [value]="topping">{{country}}</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input  [(ngModel)]="personal.zip" name="zip"
                 type="text" class="form-control" id="inputZip">
              </div>
            </div>  
        <div class="form-row">
            <div class="form-group col-md-4">         
                    <label for="inputBirthdate">Birthdate</label>
                <div class="input-group">               
                  <input (ngModelChange)="select(model)" id="inputBirthdate" class="form-control" placeholder="yyyy-mm-dd"
                         name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="inputGender">Gender</label>
                <select  [(ngModel)]="personal.gender" name="gender" id="inputGender" class="form-control">
                  <option selected>Choose...</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                  <option>Prefer not to say</option>
                </select>
            </div> 
        </div>
               
  <div class="m-2 justify-content-center">
      <button type="submit" class="btn btn-primary">Next step</button>  
  </div>
</form>
</div>
</div>