@import url('https://fonts.googleapis.com/css?family=Rowdies');

div {
    font-size: 60px;
    font-family: 'Rowdies';
    color: white;
    text-shadow: 2px 2px 5px rgb(153, 57, 75);
    font-variant: small-caps;
    letter-spacing: 3px;
}