<div class="m-2">
    <h1>2. Work experience</h1>
</div>

<div *ngFor="let item of works">
    <div class="card m-2">
        <div class="card-body">
            <ng-template [ngIf]="item.position">
                <p> <strong>Postition: </strong> {{item.position}}</p></ng-template> 
            <ng-template [ngIf]="item.employer">
                <p> <strong>Employer: </strong> {{item.employer}}</p></ng-template> 
            <ng-template [ngIf]="item.from">
                <p> <strong>From: </strong> {{item.from}}</p></ng-template> 
            <ng-template [ngIf]="item.to">
                <p> <strong>To: </strong> {{item.to}}</p></ng-template> 
            <ng-template [ngIf]="item.city">
                <p> <strong>City: </strong> {{item.city}}</p></ng-template>         
            <ng-template [ngIf]="item.country">
                <p> <strong>Country: </strong> {{item.country}}</p></ng-template>         
            <ng-template [ngIf]="item.description">
                <p> <strong>Description: </strong> {{item.description}}</p></ng-template>        
            <ng-template [ngIf]="item.ongoing">
                <p> <strong>Ongoing: </strong> {{item.ongoing}}</p></ng-template>                        
        </div>
    </div>
</div>

<app-work-experience (save)="onSaveWork($event)" >
</app-work-experience> 

<form (ngSubmit)="onSubmit()">
<div class="m-2 justify-content-center">
    <button type="submit" class="btn btn-primary">Next step</button>  
</div>
</form>