<div class="m-2">
    <h1>4. Skills</h1>
  </div>
  <div class="card">
  <div class="card-body">
    <h3 class="mb-4">Language skills</h3>
    <div class="mb-2" *ngFor="let item of langs">
       <span>
         <ng-template [ngIf]="item.language">
           <strong> {{item.language}}: </strong></ng-template> 
        <ng-template [ngIf]="item.level">{{item.level}}</ng-template>   
        <button type="button" class="btn btn-outline-danger" (click)=deleteLang(item)><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg></button>    
       </span>   
      <hr>
     </div>

      <form (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <input id="lang" name="lang" [(ngModel)]="currentLang.language" type="text" class="form-control" aria-label="Language" placeholder="Language">
          
          <select [(ngModel)]="currentLang.level"  name="level" class="form-select">
            <option value='' selected>Choose level...</option>
            <option value="C2">Native</option>
            <option value="C1">C1 - Advanced</option>
            <option value="B2">B2 - Upper Intermediate</option>
            <option value="B1">B1 -  Intermediate</option>
            <option value="Beginner">Beginner</option>
          </select>

        </div>
        <button type="button" id="save" (click)="onSaveLang()" name="saveButton" class="btn btn-light btn-block">Add New Language</button>
        <hr>


        <div class="mb-2" *ngFor="let item of skills">
          <span>
            <ng-template [ngIf]="item.skill">
              <strong> {{item.skill}}: </strong></ng-template> 
           <ng-template [ngIf]="item.level">{{item.level}}/10</ng-template>   
           <button type="button" class="btn btn-outline-danger" (click)=deleteSkill(item)><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
             <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
             <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
           </svg></button>    
          </span>   
         <hr>
        </div>
        <h3 class="my-4">Other skills</h3>
        <div class="form-row">
          <div class="form-group col-md-12">
            <input type="text" name="skillName" class="form-control"
            [(ngModel)]="currentSkill.skill" id="skillName" placeholder="Skill name">
          </div>
          <div class="form-group col-md-12">
            Skill level on a scale of 10:
            <ngb-rating [(rate)]="currentSkill.level"></ngb-rating>
          </div>
        </div>
        <button type="button" id="save2" (click)="onSaveSkill()" name="saveButton2" class="btn btn-light btn-block">Add New Skill</button>

                 
    <div class="m-3 justify-content-center">
        <button id="submitButton" name="submit" type="submit" class="btn btn-primary">Finish form</button>  
    </div>
  </form>
  </div>
  </div>