<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="">Home</a>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink routerLink="templates">Available templates</a>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink routerLink="export-options">Export options</a>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink routerLink="login">Login</a>
    </li>
    <li [ngbNavItem]="5">
      <a ngbNavLink routerLink="register">Register</a>
    </li>
  </ul>
