
@import url('https://fonts.googleapis.com/css?family=Rowdies');

.app {
    width: 100%;
    height: 100%;
    background-image: url("background.jpg");
    background-repeat: repeat;
}

.body-width {
    width: 70%;
 
}



h1{
    font-size: 36px;
    font-family: 'Rowdies';
    
}
