.app {
    padding: 0px !important;
    width: 100%;
    height: 100%;
    background: rgb(216,140,154);
    background: linear-gradient(180deg, rgba(216,140,154,1) 0%, rgba(241,227,211,1) 79%);
}

.body-width {
    width: 100%;
}