<div class="m-3 d-flex justify-content-center">
  <button
    ngbNavLink
    routerLink="fill-form"
    type="button"
    class="m-4 p-2 btn btn-custom btn-block"
  >
    <h1>Start now</h1>
  </button>
</div>

<div class="row p-4">
  <div class="col-md-4 col-sm-12">
    <div
      class="d-flex rounded flex-column justify-content-center align-items-center p-3 column-1"
    >
      <div class="number flex-item">1.</div>
      <div class="flex-item label-text text-center">
        Fill in your data according to the form
      </div>
      <div class="flex-item p-2">
        <button
          ngbNavLink
          routerLink="fill-form"
          type="button"
          class="btn btn-custom"
        >
          Start now
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-sm-12">
    <div
      class="d-flex rounded flex-column justify-content-center align-items-center p-3 column-2"
    >
      <div class="number flex-item">2.</div>
      <div class="flex-item label-text text-center">
        Choose from the templates
      </div>
      <div class="flex-item p-2">
        <button
          ngbNavLink
          routerLink="templates"
          type="button"
          class="btn btn-custom"
        >
          Browse our templates
        </button>
      </div>
    </div>
  </div>


  <div class="col-md-4 col-sm-12">
    <div
      class="d-flex rounded flex-column justify-content-center align-items-center p-3 column-3"
    >
      <div class="number flex-item">3.</div>
      <div class="flex-item label-text text-center">
        Done! <br> Use/export your CV
      </div>
      <div class="flex-item p-2">
        <button
          ngbNavLink
          routerLink="export-options"
          type="button"
          class="btn btn-custom"
        >
          Export options
        </button>
      </div>
    </div>
  </div>


</div>
