<div class="m-2">
    <h1>3. Education</h1>
   <div>Describe all your learning experiences here.
    Include any type of learning experience (university, vocational training,
     online courses, professional development).</div> 
</div>

  <div *ngFor="let item of edus">
    <div class="card m-2">
        <div class="card-body">
            <ng-template [ngIf]="item.title">
                <p> <strong>Title: </strong> {{item.title}}</p></ng-template> 
            <ng-template [ngIf]="item.org">
                <p> <strong>Organization: </strong> {{item.org}}</p></ng-template> 
            <ng-template [ngIf]="item.from">
                <p> <strong>Worked from: </strong> {{item.from}}</p></ng-template> 
            <ng-template [ngIf]="item.to">
                <p> <strong>To: </strong> {{item.to}}</p></ng-template> 
            <ng-template [ngIf]="item.city">
                <p> <strong>City: </strong> {{item.city}}</p></ng-template>         
            <ng-template [ngIf]="item.country">
                <p> <strong>Country: </strong> {{item.country}}</p></ng-template>         
            <ng-template [ngIf]="item.description">
                <p> <strong>Description: </strong> {{item.description}}</p></ng-template>        
            <ng-template [ngIf]="item.inProgress">
                <p> <strong>in Progress: </strong> {{item.inProgress}}</p></ng-template>                        
        </div>
    </div>
</div>

<app-education (save)="onSaveWork($event)" >
</app-education> 

<form (ngSubmit)="onSubmit()">
<div class="m-2 justify-content-center">
    <button type="submit" class="btn btn-custom">Next step</button>  
</div>
</form>